.journal-add{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    fill: white;
}