.input{
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Sourse Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
}

.input-title{
    font-size: 32px;
}


.invalid{
    border: 1px solid red;
    background: rgb(68, 6, 6);
}

